<h3>You are recieving this email because your account has been deactivated. Any actions being made on your account has
  been denied. If want to reactivate your account click the link blelow</h3>
<h4>Click this link to reactivate your account</h4>
<a href="{{ variables.link }}">
  <h4>{{variables.link}}</h4>
</a>