<h3>This is a account verification email for {{ body.to }} to fully activate your account on basil</h3>
<h4>Click this link to verify and lgin into your account</h4>
<a href="{{ variables.link }}">
    <h4>{{variables.link}}</h4>
</a>